@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

html {
  background-color: #161616;
  color: #f4f2ed;
  scroll-behavior: smooth;
  font-family: "Roboto Flex", sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 1rem;
  line-height: 1.5;
  font-family: "Roboto Flex", sans-serif;
  font-weight:300;

}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}


/* nav styles */


.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  font-style: normal;
  font-weight: 100;
 
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.nav-links a:hover,
.nav-links a:focus {

  background-color: rgba(255, 255, 255, 0.25); 
    transition: background-color 0.25s ease-in-out; 
    border-radius: 50px;

}

.expanded {
  display: unset;
}


/* about */
.about-container {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  text-align: left;
  color: #fff;
}

.image-text_content {
  display: grid;
  gap: 18px;
}

.intro-text h1 {
  font-size: 2em;
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
}

.intro-text h2 {
  font-size: 2em;
  margin: 10px 0;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
}

.profile-picture img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 3px #fc3db482;
  margin-bottom: 20px;
}

.image-text_content p {
  margin: 10px 0;
  font-size: 1rem;
}


/*Portfolio*/

.portfolio_layout {
  margin: 0 32px;
}

.work {
  overflow: hidden;
}

.work ul {
  list-style: none;
  margin: 0;
  padding: 0;
  animation: scrollWork 10s infinite linear;
}

.work ul li {
  display: inline-block;
  margin-right: 20px;
  white-space: nowrap;
  font-size: 5rem;
}

@keyframes scrollWork {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}



.intro_text {
  font-size: 16px;
}

.casestudy {
  padding: 40px 0;
}

.cards_grid_layout {
  max-width: calc((min(100vw - 48px, 1392px) - 264px) / 12* 12 + 264px);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  justify-items: start; 

}


.figure_thumbnail {
  display: contents;
  overflow: hidden;
  border-radius: 10px;
}

.figure_thumbnail figure {
  display: flex;
  justify-content: flex-start;
}

.figure_thumbnail img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.card h2 {
  font-weight: normal;
  
}

.card {
  padding: 10px;
}

.tags {
  font-size: 16px;
  overflow: hidden;
  display: flex;
  gap: 16px;
  order: 1;
  padding: 16px 0;
}

.card_tags {
  background-color: rgba(255, 255, 255, 0.136);
  color:white;
  border-radius: 4px; 
  overflow: hidden; 
  justify-content: center; 
  align-items: center; 
  gap: 20px;
  padding: 0.4em 0.8em;
  display: inline-flex;
}


/*DESKTOP VERSION*/
@media screen and (min-width: 992px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .hamburger {
    display: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .image-text_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    align-items: center;
  }

  .intro-text h1,
  .intro-text h2,
  .image-text_content p {
    font-size: 1.2rem;
  }

  .profile-picture {
    margin-bottom: 0;
  }

  .profile-picture img {
    width: 100%;
    height: auto;
  }

  
  .cards_grid_layout {
    grid-template-columns: repeat(2, 1fr);
  }


  .tags {
    font-size: 16px;
    overflow: hidden;
    display: flex;
    gap: 16px;
    order: 1;
    padding: 16px 0;
  }

  .intro_text {
    font-size: 24px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
      align-items: center;
      padding: 20px 0;
    }
  
}


  
  
  
  
 
  
 

  

  


  


  







 
  

