@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


:root {

  /**
   * colors
   */
   --background-black: hsl(0, 0%, 7%);
   --header-black: hsla(0, 0%, 7%, 0.758);
   --white: hsl(43, 24%, 94%);
   --gray: hsl(0, 0%, 35%);
   --light-black: hsla(0, 0%, 100%, 0.25);
   --tags-light-black: hsla(0, 0%, 100%, 0.136);
   --pink: hsl(324, 100%, 46%);
   --baby-pink: hsl(325, 46%, 90%);

/**
   * shadow
   */
   --pink-shadow: 0px 0px 20px 3px hsla(323, 97%, 61%, 0.278);

/**
   * Typography
   */

   --ff-roboto: "Roboto Flex", sans-serif;
--ff-bricolage: "Bricolage Grotesque", sans-serif;

--fs-1: 6rem;
--fs-2: 5rem;
--fs-3: 3.8rem;
--fs-4: 2.8rem;
--fs-5: 2.6rem;
--fs-6: 2.2rem;
--fs-7: 2rem;
--fs-8: 1.8rem;
--fs-9: 1.5rem;
--fs-10: 1.4rem;
--fs-11: 1.2rem;

--fw-100: 100;
--fw-300: 300;
--fw-400: 400;
--fw-500: 500;

/**
   * Transition
   */
   --button-hover: background-color 0.25s ease-in-out;
   --card-hover: transform 0.3s ease;

}

html {
  background-color: var(--background-black);
  color: var(--white);
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 1rem;
  margin-top: 6rem;
  width: 100%;
  max-width: 1400px;
  height: auto;
  line-height: 1.5;
  font-family: var(--ff-roboto);
  font-weight: var(--fw-300);
}

* {
  box-sizing: border-box;
}


h1 {
  margin: 1rem 0;
  font-size: var(--fs-5);
}




/* General header styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.3rem 10%;
  z-index: 1;
  width: 100%;
  background-color: var(--header-black);
  backdrop-filter: blur(2px);
  transition: 0.25s ease-in-out;
  z-index: 100;
  display: block;
}

  /* Container for navigation and logo */
  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 1.5rem;
    color:var(--white);
    text-decoration: none;
    font-weight: var(--fw-300);
    font-family: var(--ff-bricolage);
  }

  .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-black);
  }

/* nav styles */
.nav-links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  background-color: var(--header-black);
  padding: 1rem 0;
  margin: 0;
  font-family: var(--ff-bricolage);
  font-style: normal;
  font-weight: var(--fw-100);

}

.nav-links.expanded {
  display: flex;
}

.expanded {
  display: unset;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--white);
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--light-black);
  transition: var(--button-hover);
  border-radius: 50px;
}

/* about */

.about-container {
  padding: 32px;
  display: grid;
  grid-gap: 18px;
  margin-top: 50px;
}

.image-text_content {
  display: grid;
  gap: 18px;
  grid-gap: 18px;
}

.image_text_content h3 {
  font-size: 24px;
  font-family: var(--ff-bricolage);
  font-style: normal;
  font-weight: var(--fw-300);
}

.image_text_layout {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  text-align: center;
}

.image_heading {
  margin-bottom: 18px;
}

.tilt-box-wrap {
  perspective: 1000px; 
  position: relative;
  transition: all 0.6s ease-out;

}

.tilt-box {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-out;
}



.image_text_figure {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  
}

.image_text_figure img {
  width: 250px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: var(--pink-shadow);
  margin-bottom: 20px;
}

.image_text_content p {
  padding-bottom: 1em;
  font-size: 16px;
  line-height: 1.6;
}

/*HOME PAGE*/

.other-projects-container {
  display: grid;
}

.cards_grid_layout_homepage figure {
 margin:0;
 padding: 0;;
}

.figure_other_projects img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.cards_grid_layout_homepage {
  gap: 20px;
  max-width: calc((min(100vw - 48px, 1392px) - 264px) / 12 * 12 + 264px);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
}




/*Portfolio*/
.portfolio_layout {
  margin: 0 32px;
}

.work {
  overflow: hidden;
}

.work ul {
  list-style: none;
  margin: 0;
  padding: 0;
  animation: scrollWork 10s infinite linear;
}

.work ul li {
  display: inline-block;
  margin-right: 20px;
  white-space: nowrap;
  font-size: 5rem;
}

@keyframes scrollWork {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.intro_text {
  font-size: 16px;
}

.casestudy {
  padding: 40px 0;
}


.cards_grid_layout {
  max-width: calc((min(100vw - 48px, 1392px) - 264px) / 12 * 12 + 264px);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  justify-items: start;
}


.figure_thumbnail {
  display: contents;
  overflow: hidden;
  border-radius: 10px;
}

.figure_thumbnail figure {
  display: flex;
  justify-content: flex-start;
}

.figure_thumbnail img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.card-comingsoon h2,
.card h2 {
  font-weight: normal;
}

.card-comingsoon,
.card {
  padding: 10px;
  text-decoration: none;
  color: var(--white);
  transition: var(--card-hover);
}

.card-comingsoon,
.card a {
  color: var(--white);
  text-decoration: none;
}

.card:hover {
  transform: scale(1.05);
}

.card_content {
  display: flex;
  flex-direction: column;
}

.project__tags,
.tags {
  font-size: 16px;
  overflow: hidden;
  display: flex;
  gap: 16px;
  order: 1;
  padding: 16px 0;
}

.project__tags,
.card_tags {
  background-color: var(--tags-light-black);
  color: var(--white);
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0.4em 0.8em;
  display: inline-flex;
}

/*POST-1*/
.video_container {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project_headline {
  display: flex;
  flex-direction: column;
  padding: 60px 0 30px 0;
  gap: 16px;
}


.heading h1 {
  font-size: 32px;
  font-weight: var(--fw-500);
  font-family: var(--ff-bricolage);
  padding: 0;

}

.heading h2 {
  font-size: 18px;
  font-weight: 200;
  padding: 0;
}


.project_intro {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project_description p {
  margin: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 200;
}


.project_button {
  display: inline-flex;
  gap: 24px;
  flex-wrap: wrap;
}

.behance_button {
  border-style: solid;
  border-color: var(--pink);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  z-index: 10;
  padding: 0.5em 2em;
  border-radius: 50px;
  transition: var(--button-hover);
  background-color: transparent;
  height: 50px;
}

.behance_button p {
  margin: 0;
  padding-left: 8px;
}


.behance_button:hover,
.behance_button:focus {
  background-color: var(--baby-pink);
  color: var(--pink);
  border-color: var(--baby-pink);
}

.prototype_button {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.project_figure {
  margin: 0;
}


.project_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.project_content figure {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
}

.project_content img {
  width: 100%;
}

.prototipo-video,
.wireframes-video {
  width: 100%;
  height: 100%;
}

.project__tags {
  margin: 5px 0;
}



/*POST 2*/
.figma-logo path {
  fill: var(--white);
}

.behance_button:hover .figma-logo path,
.behance_button:focus .figma-logo path {
  fill: var(--pink);
}

.prototype_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prototype_button a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.prototype_button p {
  display: flex;
  margin: 0;
  font-size: 16px;
}

/*POST 5*/
.gride_images_container {
  display: grid;
  gap: 12px;
  padding: 24px 0;
}

.gride_images {
  margin-bottom: 12px;
}

.gride_images img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.border_image img {
  border-radius: 10px;
}

.text_project5 {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

/*FOOTER*/
.social_links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.container_name {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

footer {
  padding: 24px 0;
}

/*Contact*/

.contact-layout {
  padding: 32px;
}

.contact_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact_left_title h2 {
  font-size: 32px;
  margin-bottom: 5px;
  color:var(--baby-pink);
  font-weight: var(--fw-500);
  font-family: var(--ff-bricolage);

}

.contact_left_title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: var(--baby-pink);
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 80vw;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  color: var(--gray);
  border-radius: 50px;
 
}


.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
  color: var(--gray);
}

.contact-inputs:focus {
  border: 2px solid var(--pink);
}

.contact-inputs::placeholder {
  color: var(--gray);

}

.contact-left button{
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  border-color: var(--pink);
  border-radius: 50px;
  color: var(--baby-pink);
  cursor: pointer;
  outline: var(--pink);
  background-color: transparent;
  transition: var(--button-hover);
  border-style: solid;
  padding: 0.7em 2em;
  
}

.contact-left button:hover {
  color: var(--pink);
  cursor: pointer;
  border-color: var(--baby-pink);
  background-color: var(--baby-pink);
}

.contact-right img {
  display: none;
  }

/*RESUME*/
.skills {
  padding: 24px 0;
}

.resume_layout {
  padding: 0 32px;
  margin: 0;
}
.skills h3,
.mybackground h3 {
  font-family: var(--ff-bricolage);
  color: var(--white);
  font-size: 24px;
  font-weight: var(--fw-500);


}
.details{
  cursor: pointer;

}

.details_content {
  display: none;
  font-size: 18px;
  color: var(--white);
  padding: 10px;
  border-radius: 8px;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
  overflow: hidden;
}

.details[open] .details_content {
  display: block;
  max-height: 500px; /* Adjust as needed */
  padding: 10px;
}


.intro_resume {
  color: #898989;
  font-size: 16px;
  font-weight: var(--fw-300);
}

.mybackground_skills {
  padding: 12px 24px 20px;
  border: 1px solid var(--pink);
  border-radius: 24px;
  flex-grow: 1;
}

.skills_list {
  padding-top: 8px;
    position: relative;
    width: auto;
    display: grid;
    padding: 10px;
    margin:0;
}

.skills_list li {
  font-size: 18px;
  list-style: circle;
    margin-left: 16px;
}

.skills_layout {
  display: grid;
  gap: 20px;
  height: fit-content;
}

.mybackground_skills h4 {
  font-size: 18px;
  font-weight: var(--fw-300);
  color: var(--white); 
  margin: 12px  0;
}


/*DESKTOP VERSION*/
@media screen and (min-width: 992px) {

  .header {
  display: block;
}

.nav-bar {
  display: contents;
}

/* nav styles */

.nav-links {
  margin-left: 5em;
  display: block;
  position: static;
  width: auto;
  background: none;
}


.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--light-black);
  transition:var(--button-hover);
  border-radius: 50px;
}


  .hamburger {
    display: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }



  /*About*/
  .about-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 48px;
  }

  .image_heading {
    align-self: center;
    margin-bottom: 16px;
  }

  .image_text_figure {
    width: 340px;
  }

  .image_text_content h3 {
    font-size: 40px;
  }

  .image_text_layout {
    max-width: calc((min(100vw - 48px, 600px) - 264px) / 12* 12 + 264px);
  }

  .image_text_content p {
    font-size: 24px;
  }
 
  .contact-right,
  .tilt-box-wrap:hover {
    transition: all 0.3s linear;
    transform: scale(1.1);
  }
  
 
  .tilt-box-wrap:hover .tilt-box {
    transform: scale3d(1.05, 1.05, 1.05) rotateX(5deg) rotateY(-5deg); /* Scale and rotate the tilt-box on hover */
  }
  



  /*Portfolio*/
  .cards_grid_layout {
    grid-template-columns: repeat(2, 1fr);
  }

  .tags {
    font-size: 16px;
    overflow: hidden;
    display: flex;
    gap: 16px;
    order: 1;
    padding: 16px 0;
  }

  .intro_text {
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;
    padding: 20px 0;
  }

  /*POST-1*/

  .project_intro {
    display: grid;
    grid-template-columns: 2fr auto;
    gap: 300px;
    margin: 3rem 0;
  }

  .prototype_button,
  .project_button {
    display: flex;
  }

  .behance_button {
    padding: 0.2em 1em;
  }

  .project_description p {
    font-size: 20px;
  }

  .project_headline {
    padding: 100px 0 48px 0;
  }

  .heading h1 {
    font-size: 40px;
  }

  .heading h2 {
    font-size: 24px;
    font-weight: 200;
    padding: 0;
  }

  .project__tags {
    margin: 0 5px;
  }

  .container_name {
    font-size: 16px;
  }

  .gride_images_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gride_images {
    flex: 1 1 calc(50% - 12px);
    max-width: calc(50% - 12px);
  }

  .text_project5 {
    font-size: 18px;
    padding: 15px 0;
  }

  /*Contact*/
  .contact-inputs {
    width: 450px;
  }

  .contact-right img {
    display: flex;
    width: 500px;
    height: 100%;
    }

    .mybackground_skills h4 {
      font-size: 24px;
      font-weight: var(--fw-300);
    }

    .skills_layout {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      gap: 24px;
    }

    .skills_list li {
      font-size: 18px;
    }

}