---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---
<BaseLayout pageTitle={pageTitle}>
    <section class="about-container">
        <div class="image_text_layout">
            <article class="image_text_content">
            <h3 class="image_heading">Hi there!<br>I'm a Digital Product & Motion Designer based in Portugal.</h3> 
        </div>
    
        <div class="tilt-box-wrap">
            <div class="tilt-box">
            <figure class="image_text_figure">
            <img src="/assets/img/about/polaroid.png" alt="Profile picture in black and white">
            </figure>
        </div>
    </div>
</div>
            <p>I am currently pursuing a post-graduate degree in Digital Experience Design at the Faculty of Fine Arts of the University of Lisbon, having previously obtained a bachelor’s degree in Multimedia Art from the same faculty. <br>My focus is designing and creating outstanding digital experiences that solve <strong>real-world problems</strong> and enhance people's lives. I take a human-centered approach to my work, always keeping usability and business goals in mind. With my skills, I aim to combine motion and digital design through <strong>creativity</strong> and <strong>innovation</strong>.</p>
            <p>Beyond design and motion, I am also passionate about travel, cinema, art books, and music. As a creative, I strive to live life to the fullest, embracing new experiences and seeking inspiration from the world around me.</p>
        
        </article>
    </section>
</BaseLayout>