---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Contact";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>Contact</h2>

    <div class="contact_container">
        <form action="" class="contact-left">
            <div class="contact_left_title">
                <h2>Let's talk</h2>
                <hr>
            </div>
            <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
            <input type="email" name="email" placeholder="Your Email" class="contact-inputs" required>
            <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
                <button type="submit">Send</button>

            

        </form>
        <div class="contact-right">
            <img src="/assets/img/Contact/cherry.png">
        </div>

    </div>
    

</BaseLayout>