---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
    <section class="contact-layout">
        <div class="contact_container">
            <form
                action="https://api.web3forms.com/submit"
                method="POST"
                class="contact-left"
            >
                <div class="contact_left_title">
                    <h2>Let's talk</h2>
                    <hr />
                </div>
                <input
                    type="hidden"
                    name="access_key"
                    value="30fcba91-3d7d-4d28-80b9-1d874f513a35"
                />
                <input
                    type="text"
                    name="name"
                    placeholder="Your Name"
                    class="contact-inputs"
                    required
                />
                <input
                    type="email"
                    name="email"
                    placeholder="Your Email"
                    class="contact-inputs"
                    required
                />
                <textarea
                    name="message"
                    placeholder="Your Message"
                    class="contact-inputs"
                    required></textarea>
                <button type="submit">Send</button>
            </form>
            <div class="tilt-box-wrap">
                <div class="tilt-box">
                <div class="contact-right">
                    <img
                        class="contact-right"
                        src="/assets/img/Contact/travel_1.png"
                    />
                </div>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>
