---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">


<BaseLayout pageTitle={pageTitle}>
 
  <main class="portfolio_layout">
  <h1>Hello!</h1>
  <h2>Hi! I'm Daniela Moreno, a Digital Product (& Motion) Designer.</h2>

  <section class="other-projects-container">
    <h3>Other projects</h3>
    <div class="cards_grid_layout_homepage">
          <figure class="figure_other_projects">
            <img
              src="assets/img/othe_projects/3d_letters.jpg"
              alt="White background with two 3D mobiles, featuring the titles 'Instagram New Feature' and 'Search Control' in black"
            />
          </figure>
        
          <figure class="figure_other_projects">
            <img src="/assets/img/othe_projects/metallic-X.jpg" alt="Baby pink background with three website mockups, featuring the title 'FBAUL Redesign' in dark pink" />
          </figure>

          <figure class="figure_other_projects">
            <img src="/assets/img/othe_projects/metallic-W.png" alt="Baby pink background with three website mockups, featuring the title 'FBAUL Redesign' in dark pink" />
          </figure>

          <figure class="figure_other_projects">
            <img src="/assets/img/othe_projects/agustd_album.jpg" alt="Baby pink background with three website mockups, featuring the title 'FBAUL Redesign' in dark pink" />
          </figure>
</div>
<main>
</BaseLayout>
