---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">


<BaseLayout pageTitle={pageTitle}>
 
  <div class="logo">
    <figure>
  
  </figure>
</div>
  <h1>Hello!</h1>
  <h2>Hi! I'm Daniela Moreno, a Digital Product (& Motion) Designer.</h2>
</BaseLayout>
