---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Portfolio";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main class="portfolio_layout">
      <div class="work">
        <ul>
          <li>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
            <span class="word_work">WORK</span>
          </li>
        </ul>
      </div>
      <p class="intro_text">
        I specialize in a diverse range of design development, including UI/UX,
        motion graphics, 3D animation, and more.
      </p>
      <section class="casestudy">
          <div class="cards_grid_layout">
          
            
            <a href="/posts/post-1" class="card">
              <div class="card_content">
                <h2>Instagram New Feature</h2>
                <figure class="figure_thumbnail">
                  <img
                    src="/assets/img/instagram_newfeature_cover.jpg"
                    alt="Instagram New Feature"
                  />
                </figure>
                <div class="tags">
                  <span class="card_tags">ux/ui</span>
                  <span class="card_tags">ux research</span>
                  <span class="card_tags">motion graphics</span>
                </div>
              </div>
            </a>
            
            
            <a href="/posts/post-2" class="card">
              <div class="card_content">
                <h2>FBAUL Redesign</h2>
                <figure class="figure_thumbnail">
                  <img src="/assets/img/fbaul_cover.jpg" alt="FBAUL Redesign" />
                </figure>
                <div class="tags">
                  <span class="card_tags">ux/ui</span>
                  <span class="card_tags">ux research</span>
                  <span class="card_tags">prototype</span>
                </div>
              </div>
            </a>
             
              <a href="/posts/post-3" class="card">
                <div class="card_content">
                  <h2>Art Page | E-commerce</h2>
                  <figure class="figure_thumbnail">
                    <img
                      src="/assets/img/artpage_cover.png"
                      alt="Art Page E-commerce cover"
                    />
                  </figure>
                  <div class="tags">
                    <span class="card_tags">ux/ui</span>
                    <span class="card_tags">design system</span>
                    <span class="card_tags">mockups</span>
                  </div>
                </div>
              </a>
        

                <a href="/posts/post-4" class="card">
                  <div class="card_content">
                    <h2>Purple Taxi</h2>
                    <figure class="figure_thumbnail">
                      <img
                        src="/assets/img/purpletaxi_cover.jpg"
                        alt="Purple Taxi cover"
                      />
                    </figure>
                    <div class="tags">
                      <span class="card_tags">game design</span>
                      <span class="card_tags">motion graphics</span>
                    </div>
                  </div>
                </a>

                  <a href="/posts/post-5" class="card">
                    <div class="card_content">
                      <h2>BTS 'Butter' Lyric video</h2>
                      <figure class="figure_thumbnail">
                        <img
                          src="/assets/img/butter_cover.jpg"
                          alt="bts butter lyric video cover"
                        />
                      </figure>
                      <div class="tags">
                        <span class="card_tags">motion graphics</span>
                        <span class="card_tags">3D modelling</span>
                      </div>
                    </div>
                  </a>

                    <a href="/posts/post-6" class="card">
                      <div class="card_content">
                        <h2>Orbe Vol.1</h2>
                        <figure class="figure_thumbnail">
                          <img
                            src="/assets/img/orbe_cover.jpg"
                            alt="Orbe Vol.1 cover"
                          />
                        </figure>
                        <div class="tags">
                          <span class="card_tags">motion graphics</span>
                          <span class="card_tags">animation</span>
                        </div>
                      </div>
                    </a>
                        

                      <a href="/posts/post-7" class="card">
                        <div class="card_content">
                          <h2>Bubble</h2>
                          <figure class="figure_thumbnail">
                            <img
                              src="/assets/img/bubble_cover2.jpg"
                              alt="Bubble cover"
                            />
                          </figure>
                          <div class="tags">
                            <span class="card_tags">photography</span>
                            <span class="card_tags">experimental</span>
                          </div>
                        </div>
                      </a>

                        <a href="/posts/post-8" class="card-comingsoon">
                          <div class="card_content">
                            <h2>Sky Care</h2>
                            <figure class="figure_thumbnail">
                              <img
                                src="/assets/img/skycare_cover_soon.jpg"
                                alt="Sky Care cover"
                              />
                            </figure>
                            <div class="tags">
                              <span class="card_tags">ux/ui</span>
                              <span class="card_tags">motion graphics</span>
                              <span class="card_tags">3D modelling</span>
                            </div>
                          </div>
                    </a>
          </div>
      </section>
      <Footer />
    </main>
  </body>
</html>
