---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Portfolio";
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    
    <div class="work">
      <ul>
        <li>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
          <span class="1work">WORK</span>
        </li>
      </ul>
    </div>
    <p>I specialize in a diverse range of design development, including UI/UX, motion graphics, 3D animation, and more.</p>
    <section class="casestudy">
        <div class="cards_grid_layout">
        <h2>Instagram New Feature</h2>
        <figure class="figure_thumbnail">
        <img src="/assets/img/instagram_newfeature_cover.png" alt="Instagram New Feature">
        </figure>
        <div class="tags">
          <span class="card_tags">ux/ui</span>
          <span class="card_tags">motion graphics</span>
        </div>
      </section>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
    <Footer />
  </body>
</html>