---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Resumé";
---

<BaseLayout pageTitle={pageTitle}>
    <section class="resume_layout">
        <h2>Resumé</h2>
        <p>
            I'm a junior Digital Product Designer & Motion Graphic Designer with
            a background in Art Multimedia and Product Design.<br /> My goal is to
            combine motion and digital design through creativity and innovation.
        </p>
        <div class="resume_button">
            <a
                class="behance_button"
                href="https://drive.google.com/file/d/1-NceagW4HqvhvBSltJG4BzsC8KNwDduZ/view?usp=sharing"
                target="_blank"
            >
                <svg
                    class="arrow"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="#000000"
                    style="width: 24px; height: 24px;"
                >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M6 18L18 6M18 6H9M18 6V15"
                            stroke="#ffffff"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </g>
                </svg>
                <p>Resumé</p>
            </a>
        </div>

        <div class="mybackground">
            <h3>Education</h3>
            <details class="details">
                <summary class="details_summary"
                    >Post-graduation in Digital Experience Design</summary
                >
                <div class="details_content">
                    <p class="intro_resume">
                        Faculty of Fine Arts of the University of Lisbon
                    </p>
                    <p class="intro_resume">2023 - 2024</p>
                    <p>
                        A specialization course with studies in user-centered
                        design and research, interaction design, user interface
                        design, front-end development, digital marketing, design
                        strategy, design management and entrepreneurship. With
                        the course, students are prepared to design, build and
                        launch cutting-edge digital products and services.
                    </p>
                </div>
            </details>

            <details class="details">
                <summary class="details_summary"
                    >Bachelor’s degree in Multimedia Art</summary
                >
                <div class="details_content">
                    <p class="intro_resume">
                        Faculty of Fine Arts of the University of Lisbon
                    </p>
                    <p class="intro_resume">2020 - 2023</p>
                    <p>
                        In this course, we take a multidisciplinary approach and
                        explore various creative practices such as 3D modelling,
                        animation, photography, video editing, sound design,
                        installations, and audience interaction. With this
                        course, students get prepared with a diverse range of
                        skills, to create, reflect, develop, and launch
                        projects.
                    </p>
                </div>
            </details>
        </div>

        <div class="mybackground">
            <h3>Experience</h3>
            <details class="details">
                <summary class="details_summary"
                    >Graphic Designer Freelance</summary
                >
                <div class="details_content">
                    <p class="intro_resume">Fev. 2024 - present</p>
                    <p>
                        I collaborate with a diverse range of clients to create
                        logos, flyers, and promotional videos for their
                        businesses and projects. Throughout this process, I
                        develop my problem-solving skills, learn to organize my
                        time efficiently, and establish effective communication
                        with the client.
                    </p>
                </div>
            </details>

            <section class="skills">
                <h3>Skills</h3>
                <div class="skills_layout">
                    <div class="mybackground_skills">
                        <h4>Design</h4>
                        <ul class="skills_list">
                            <li>UX/UI Design</li>
                            <li>Interface Design</li>
                            <li>Prototyping</li>
                            <li>Research</li>
                            <li>Graphic Design</li>
                        </ul>
                    </div>

                    <div class="mybackground_skills">
                        <h4>Video</h4>
                        <ul class="skills_list">
                            <li>Motion Design</li>
                            <li>Video Editing</li>
                            <li>3D Modelling</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </section>
</BaseLayout>
