---

---
<style>


.hamburger .line {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: background-color 0.2s ease, transform 0.2s ease, width 0.2s ease;
}

.hamburger:hover .line {
  background-color: #EC008C;
}

.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background-color: white;
  width: 32px;
  height: 3px;
  margin-bottom: 5px;
  transition: 0.2s ease;
  transition-property: transform, width;
}


button {
  outline: 0;
  border: 0;
  color: inherit;
  background: transparent;
  margin: 0;
  padding: 0;
  text-transform: none;
  font: inherit;
  appearance: button;
}

</style>

<button class="hamburger" aria-label="Open menu" aria-haspopup="true">
  <span class="line"></span>
  <span class="line"></span>
</button>
