---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';

---

<style>
  h1 {
    font-size: 20px;
    text-transform: uppercase;

  }

  a {
    color: #f4f2ed;
    text-decoration: none;
  }

</style>

<header>
  <nav>
    <a href='/'><h1>Daniela Moreno</h1></a>
    <Hamburger />
    <Navigation />
  </nav>
</header>