---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';

---

<header class="header">
  <div class="nav_container">
<a href='/' class="logo" title="Go to the homepage" aria-label="Go to the home page" target="_self">Daniela Moreno</a>

  
<!-- Hamburger and Navigation components -->
      <nav class="nav-bar">
    <Hamburger />
    <Navigation />
      </nav>
    </div>
</header>