---
const { platform, username, icon } = Astro.props;
---

<a
  href={`https://${platform}.com/${username}`}
  target="_blank"
  rel="noopener noreferrer"
>
  <img
    class="icons-social"
    src={icon}
    alt={`${platform} icon`}
    style="width: 24px; height: 24px;"
  />
</a>

<style>
  a {
    margin: 0.5rem;
    padding: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  a:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }

  .icon-social img {
    fill: white;
  }
</style>
