---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title} hideHeader={true}>
    <article class="case_studies">
        <div class="projects_layout">
            <section class="project_cover">
                <div class="project_top_container">
                    <a
                        href="/portfolio#portfolio"
                        class="goback"
                        target="_self"
                    >
                        <img
                            src="/assets/svg/arrow-left.svg"
                            alt="white arrow to go back"
                        />

                        <p>Back</p>
                    </a>
                </div>
            </section>

            <slot />
        </div>
    </article></BaseLayout
>

<style>
    .case_studies {
        padding-left: 32px;
        padding-right: 32px;
    }

    .projects_layout {
        max-width: calc((min(100vw - 48px, 1392px) - 264px) / 12 * 12 + 264px);
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .project_top_container {
        margin-top: 24px;
    }

    .goback {
        position: relative;
        background-color: #16161666;
        backdrop-filter: blur(2px);
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        z-index: 10;
        padding: 0.2em 1em;
        border-radius: 50px;
        transition: background-color 0.25s ease-in-out;
    }

    .goback img {
        width: 24px;
        height: 24px;
    }

    .goback p {
        margin: 0;
        padding-left: 8px;
    }

    .goback:hover,
    .goback:focus {
        background-color: rgba(255, 255, 255, 0.25);
    }


    @media screen and (min-width: 992px) {
        .goback {
    position: fixed;
}

}
</style>
